# Frontend
frontend/node_modules
frontend/.next
frontend/.pnpm-store

# Backend
backend/__pycache__
backend/*.pyc
backend/.venv
backend/venv
backend/uploads

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Misc
*.md
*.log
.env*.local
